.title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    width: 90%;
}

.banner-image {
    width: 100%;
}

.btn-import {
    display: inline-block;
    min-width: 350px;
    padding: 20px 60px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to bottom, #555, #111);
    box-shadow: inset 0 2px 8px rgba(255, 255, 255, 0.2), 0 4px 12px rgba(0, 0, 0, 0.5);
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
}

.btn-import::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    height: 50%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px 50px 0 0;
}

.btn-import:active {
    transform: translateY(2px);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.5), 0 2px 6px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, #333, #000);
}

.tong-phan-phoi {
    font-size: 20px;
}

.report {
    background-color: #8f8d8d61;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px !important;
    border: 1px solid white;
}

.report-item {
    background-color: #dcebfa;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
}


.image-logo {
    width: 50px;
}

.report-item-title {
    font-size: 14px;
    white-space: nowrap;
}

.report-item-value {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.mo-ta {
    padding: 40px 30px 0 30px;
}

.mo-ta-title {
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    top: -13px;
    left: 10px;
    background: linear-gradient(209deg, #ffcc2c, #ff9a2c) !important;
    padding: 5px 20px 5px 20px !important;
}

.mo-ta-box-content {
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

/* Chi tiết đơn hàng */
#order {
    width: 98%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    background: linear-gradient(1turn, #fff, #ffcc2c);
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 20px;
    box-shadow: 0 5px 10px #000;
    overflow-y: auto;
    overflow-x: hidden;
    animation: bounceIn 0.8s ease;
}

@keyframes bounceIn {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }

    60% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
    }

    80% {
        transform: translate(-50%, -50%) scale(0.95);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.order_bg {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.order_bg::before {
    content: "";
    position: absolute;
    background: url('../../images/home/background_item.png');
    background-size: 74%;
    background-repeat: no-repeat;
    width: 136%;
    height: 100%;
    top: 0;
    left: 0px;
    border-radius: 0 0.32rem 0 0;
    z-index: -1;
}

.div_img {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.order_details {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.order_details_vien {
    width: 100%;
    height: auto;
    background: url('../../images/order/vien.png');
    background-size: 100% 100%;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.order_button {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.order_details_time {
    color: #9e9e9e;
    font-family: PingFangSC-Regular, PingFang SC !important;
    font-size: 15px
}

.order_details_info {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-top: 10px;
    padding: 0 10px 10px 10px;

}

.order_details_img {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.order_details_img>img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.order_details_info_2 {
    display: flex;
    flex-direction: column;
}

.order_details_info_2>span {
    color: #424242 !important;
}

.order_details_name {
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC !important;
    font-weight: bold;
}

.order_details_price {
    font-size: 17px;
}

.order_details_quantity {
    font-size: 17px;
}

.order_details_end {
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.order_details_end th {
    text-align: right !important;
}

.order_details_end td {
    color: #969696;
}

.order_details_end_title,
.order_details_end_value {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px !important;
}

.order_details_end_title_total {
    color: #424242 !important;
    font-size: 22px;
}

.order_details_end_value_total {
    color: #ff912c !important;
    font-size: 22px;
}

.so_tien_hoan_nhap {
    color: #424242 !important;
}

.div_img_cho_xu_ly {
    position: absolute;
    width: auto;
    height: auto;
    top: 10px;
    right: 14px;
}

.div_img_cho_xu_ly>img {
    max-width: 100px;
}

@media screen and (max-width: 768px) {

    /* Chi tiết đơn hàng */
    .div_img_cho_xu_ly {
        top: 6px;
        right: 3px;
    }

    .div_img_cho_xu_ly>img {
        max-width: 50px;
    }

    #order {
        height: auto;
    }

    .order_details_end_value_total {
        font-size: 16px;
    }

    .order_details_end_title_total {
        font-size: 15px;
    }

    .order_details_end_title,
    .order_details_end_value {
        font-size: 13px !important;
    }

    .order_details_time {
        font-size: 9px;
    }

    .order_details_quantity {
        font-size: 12px;
    }

    .order_details_price {
        font-size: 12px;
    }

    .order_details_name {
        font-size: 13px;
    }

    .order_details_img {
        padding: 10px;
    }

    .order_details_img>img {
        width: 70px;
        height: 70px;
    }

    .image-logo {
        width: 30px;
    }

    .report-item-value {
        font-size: 14px;
    }

    .report-item-title {
        font-size: 11px;
    }

    .title {
        font-size: 17px;
    }

    .btn-back {
        font-size: 13px;
    }

    .vip-level-banner {
        font-size: 20px;
    }

    .detail-vip-level-banner {
        font-size: 14px;
    }

    .tong-phan-phoi {
        font-size: 15px;
    }
}